.button {
  background: #f1f2f6;
  height: 54px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  outline: none;
  font-family: 'Visby Round CF', -apple-system, BlinkMacSystemFont, sans-serif;
  border: none;
  color: #333;
}

.button.secondary {
  background: #333;
  color: rgba(255, 255, 255, 0.96);
}
.button.primary {
  background: #009432;
  color: #fff;
}
