.MapBox {
  flex: 1;
}
.MapBox__container {
  display: flex;
  height: calc(100vh - 64px);
  position: relative;
}

.Sidebar {
  width: 280px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
  background: #fff;
  height: calc(100% - 30px);
}

.Sidebar__header {
  background: #f4d03f;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.09rem;
}

.Sidebar__item {
  height: 80px;
  display: flex;
  padding: 0 1.2rem;
}

.Sidebar__item > div > img {
  height: 44px;
}

.Sidebar__avatar {
  display: flex;
  align-items: center;
}
.Sidebar__description {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.Sidebar__name {
  font-weight: 700;
}

.Sidebar_id {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.96rem;
  padding-top: 0.06rem;
}
