.container {
  display: grid;
  grid-template-rows: 120px minmax(100px, 1fr);
  min-width: 180px;
}

.header {
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.body {
  font-size: 1rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: center;
}

.avatar {
  width: 44px;
  padding-bottom: 0.5rem;
}
.name {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  font-size: 1rem;
}

.data {
  text-align: center;
  display: flex;
  padding: 0.25rem;
  flex-direction: column;
}
.data > span {
  font-weight: 700;
  padding-bottom: 0.5rem;
}
