* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Visby Round CF', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

[class^='icon-'] {
  display: flex;
  line-height: 0;
}

a {
  outline: 0;
  text-decoration: none;
}

.gm-style-iw.gm-style-iw-c {
  padding: 0;
}

.gm-style .gm-style-iw-d {
  box-sizing: border-box;
  overflow: auto;
  overflow: hidden !important;
}
